.form__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 50px;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 1px solid grey;
    width: 400px;
    height: 300px;
  }
  .back__button {
    height: 40px;
    width: 100px;
  }
  .title__date {
    padding: 15px;
  }
  .form__date {
    width: 220px;
  }
  .mood__emotic-form {
    margin: 15px 0 30px;
  }
  .happy__container {
    margin: 15px 0 20px;
  }
  .hidden {
    display: none;
  }
  .mood__emotic-form {
    border: none;
  }
  .save__button {
    background-color: #3f9bd1;
    color: white;
    width: 220px;
    height: 30px;
    margin: 15px 0 15px;
    transition: background-color .3s ease-in-out;
  }
  .save__button:hover {
    background-color: #2e8ac0;
  }

  .cancel__button {
    width: 220px;
    height: 30px;
    margin-bottom: 15px;
  }
  
  .mood_tracket__error_field {
    color: red;
    font-size: .8em;
    margin-bottom: 0px;
  }

  .mood_tracker__face {
    font-size: 5em;
    cursor: pointer;
  }

  .mood_tracker__disabled_face {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all .3s ease-in-out;
  }

  .mood_tracker__disabled_face:hover {
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
  }